<form class="col s12 cloth_edit" method="POST" action="/change" >
    <h1 class="join-title">Changing {{cloth.type}}</h1>

      <div class="row">

            <div class="input-field col s12">
              <input  id="type" name="type" type="text" class="validate" required value="{{cloth.type}}">
              <label for="type">Cloth Type</label>
             <span class="helper-text" data-error="Input the type of the cloth" ></span>

            </div>

            <div class="input-field col s12">
              <input id="price" type="number" name="price" class="validate"  min="1" required value="{{cloth.price}}">
              <label for="price">Price</label>
              <span class="helper-text" data-error="Input price of the cloth" ></span>
            </div>

            <div class="input-field col s12">
              <input id="image" type="text" name="image"  class="validate" required  value="{{cloth.image}}"> 
              <label for="image">Image URL</label>
              <span class="helper-text" data-error="Put the url adress of the image" ></span>
            </div>



            <input type="hidden" name="id" value="{{cloth.id}}">
             <input type="hidden" name="_csrf" value="{{csrf}}">
      </div>
            <button type="submit" class="btn btn-primary">Change Cloth</button>

</form>
<form action="/clothes/remove" method="POST">
  <input type="hidden" name="id" value="{{cloth.id}}">
<input type="hidden" name="_csrf" value="{{csrf}}">
  <button class="btn red">Delete</button>

</form>